@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<div hidden="@currentCount">
    tu cu bu
</div>

@code {
    private bool currentCount = true;

    private void IncrementCount()
    {
        currentCount =!currentCount;
    }
}
