@model Users
@{
    Layout = "_AdminLayout";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibraryManagement</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<center>
    <h2>Thêm mới thông tin người dùng</h2>
</center>

<form asp-action="Create" method="post" id="create-form">
    <div class="mb-3">
        <b>
            <label asp-for="UserName" class="control-label" style="padding-bottom: 5px">Tên</label>
        </b>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <b>
            <label asp-for="Fullname" class="control-label" style="padding-bottom: 5px">Họ tên đàya đủ</label>
        </b>
        <input asp-for="Fullname" class="form-control" />
        <span asp-validation-for="Fullname" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <b>
            <label asp-for="Email" class="control-label" style="padding-bottom: 5px">Email</label>
        </b>
        <input asp-for="Email" type="email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <b>
            <label asp-for="Password" class="control-label" style="padding-bottom: 5px">Mật khẩu</label>
        </b>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <b>
            <label asp-for="RoleId" class="control-label" style="padding-bottom: 5px">Quyền</label>
        </b>
        <select asp-for="RoleId" asp-items="ViewBag.Roles" class="form-control"></select>
        <span asp-validation-for="RoleId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary" asp-action="Create">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
